* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ECE7FF;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.HEROcontainer {
  position: relative; /* Allow for content positioning */
}

.footer {
  position: relative;
  bottom: 6rem;
  left: 0;
  width: 100%;
}

.footer svg {
  width: 100%;
  height: 10rem;
}


.background-image {
  position: relative;
  width: 100%;
  height: 100vh; /* Set a minimum height for mobile responsiveness */
  overflow: hidden; /* Prevent overflow if images are larger */
}

.main-image {
  position: absolute;
  top: 50%; /* Center the image vertically */
  left: 50%; /* Center the image horizontally */
  min-width: 100%; /* Ensure the image covers the whole background */
  min-height: 100%; /* Ensure the image covers the whole background */
  transform: translate(-50%, -50%); /* Center image */
  object-fit: cover; /* Keep the aspect ratio */
}

.text-section {
  width: 90%;
  max-width: 930px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%; /* Adjust top position for better spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 63px;
}

.title {
  text-align: center;
  color: #F4F2FF;
  font-family: "Fugaz One", sans-serif;
  font-size: 3.5rem; /* Responsive font size */
}

.description {
  text-align: justify;
  text-indent: 5em;
  color: #F4F2FF;
  font-family: "Figtree", sans-serif;
  font-size: 1.25rem; /* Responsive font size */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button {
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem; /* Responsive font size */
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  padding: 1.375rem 1.4375rem;
  transition: background 0.3s, transform 0.3s; 
}



.button.about-us {
  background: white;
  color: #854DFF;
  padding: 1.375rem 2.33rem;
}

.button.learn-more {
  background: #854DFF;
  color: white;
}

.button:hover {
  transform: scale(1.1); /* Scale on hover */
}

.button.about-us:hover {
  background: #f0f0f0; /* Light grey on hover */
}

.button.learn-more:hover {
  background: #6a5ae0; /* Darker blue on hover */
}

.header {
  width: 100%;
  height: 100px;
  background: #ECE7FF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  padding: 0 20px;
}

@media(max-width:992px) {
  .header .header-item {

    display:none;
  }


}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.header .toggle-btn {
  color: #4911A1;
  font-size: 1.5rem;
  cursor: pointer;
  display: block; 
  position: absolute; 
  right: 1rem; 
  top: 50%; 
  right: 5rem;
  transform: translateY(-50%);
  display: none;
}

.Dropdown {
  font-family: "Figtree";
  display: block; 
  position: absolute;
  right: 5rem;
  top: 60px;
  width: 300px;
  background: #854DFF;
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  overflow: hidden;
  z-index: 1000;
  opacity: 0; 
  transform: translateY(-20px); 
  transition: opacity 0.3s ease, transform 0.3s ease; 
  pointer-events: none; 
}

.Dropdown.active {
  opacity: 1; 
  transform: translateY(0); 
  pointer-events: auto; 
}

.toggle-btn {
  position: relative;
  z-index: 1100; 
}

.Dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ECE7FF;
}

.Dropdown li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; 
}

.Dropdown.open {
  display: block;
}

.toggle-btn.open svg {
  transform: rotate(90deg);
}

.Dropdown li:hover {
  background-color: #5812C5;
}

@media(max-width:992px) {
    
  .header .header-item,
  .header .social-media .social-icon
   {

  display: none;
  }
  .header .toggle-btn {
      display: block;
  }
  
}

@media (min-width: 769px) and (max-width: 1024px) {
  
  .header .social-media .social-icon

   {
      display: none;
  
  } .header .toggle-btn {
      display: block;
  }
}


.header-item {
  color: #4911A1;
  font-family: "Figtree", sans-serif;
  font-size: 1.25rem; /* Responsive font size */
  margin: 0 20px;
  transition: transform 0.3s;
}

.header-item:hover {
  transform: scale(1.1);
}

.social-media {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 2.44rem;
  right: 10rem; /* Align icons to the right */
}

.social-icon {
  width: 31px;
  height: 31px;
  display: inline-block;
  background-size: cover;
}

.logo-container {
  position: absolute;
  left: 10rem;
  top: 0.75rem;

}

.importance-container {
  z-index: 99999999;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add space above the importance section */
}

.importance-wrapper {
  flex: 1;
  background: #ECE7FF;
  border-radius: 20px;
  padding: 32px 15rem;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.importance-header {
  display: flex;
  height: 2.25rem;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;;
  font-family: "Figtree";
  padding-bottom: 1rem;
  border-bottom: 1px #3D3D3D solid;
}

.importance-dot {
  width: 8px;
  height: 8px;
  background: #F2649D;
  border-radius: 9999px;
  margin-right: 8px;
}

.importance-title {
  color: #1D1F1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.importance-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 56px;
  margin-top: 32px;
}

.importance-left {
  flex: 1;
}

.importance-main-title {
  font-family: Figtree;
  font-size: 3.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.25rem; /* 109.677% */
  letter-spacing: -0.11625rem;
  padding-bottom: 34.5rem;
}

.contact-button {
  border: 1px solid #022C22;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  transition: background 0.3s, transform 0.3s;
}

.contact-button:hover {
  transform: scale(1.1);
}

.contact-text {
  color: #1D1F1E;
  font-family: "Figtree";
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.contact-arrow {
  width: 10.5px;
  height: 10.5px;
  border: 1.5px solid #1D1F1E;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

.importance-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding-bottom: 3.5rem;
}

.importance-item {
  display: flex;
  flex-direction: column;
  padding: 0.7em;
}

.importance-item-title {
  color: #1D1F1E;
  font-family: "Figtree";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 0.7rem;
}

.importance-item-description {
  color: #646A69;
  font-family: "Figtree";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.purpose-container {
  width: 100%;
  padding: 32px 160px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 77px;
}

.purpose-header {
  width: 100%;
  max-width: 1920px;
  height: auto;
  padding-bottom: 1rem;
  border-bottom: 1px #3D3D3D solid;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.purpose-indicator {
  width: 8px;
  height: 8px;
  background: #F2649D;
  border-radius: 9999px;
}

.purpose-title {
  color: #1D1F1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Figtree";
}

.purpose-main-title {
  width: 100%;
  max-width: 894px;
  text-align: center;
  color: #1D1F1E;
  font-size: 62px;
  font-weight: 400;
  font-family: "Figtree";
  line-height: 68px;
}

.purpose-image-container {
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 7rem;
}

.purpose-image-box {
  width: 100%;
  max-width: 360px;
  text-align: center;
}

.purpose-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0.1rem 0.1rem 1rem #aaa9a9;
}

.purpose-text-box {
  color: #3D3D3D;
  font-family: "Figtree";
  font-size: 20px;
  font-weight: 400;
  margin-top: 2.88rem;
}

.wave {
  position: relative;
  top: 0;
  left: 0;
  background-color: #A180FF;
  width: 100%;
}

.wave svg {
  width: 100%;
  height: auto;
}


.myth-container {
  z-index: 99999999;
  width: 100%;
  background: #A180FF;
  padding: 32px 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myth-wrapper {
  flex: 1;
  background: #A180FF;
  border-radius: 20px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1920px;
}

.myth-header {
  display: flex;
  height: 2.25rem;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  font-family: "Figtree";
  padding-bottom: 1rem;
  border-bottom: 1px #fff solid;
}

.myth-dot {
  width: 8px;
  height: 8px;
  background: #F2649D;
  border-radius: 9999px;
  margin-right: 8px;
}

.myth-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.myth-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 56px;
  margin-top: 60px;
}

.myth-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.myth-main-title {
  color: #fff;
  font-family: "Figtree";
  font-size: 4rem;
  font-weight: 550;
  text-align: right;
  line-height: 4.25rem; 
  padding-bottom: 16px;
}

.myth-right {
  flex: 1;
  position: relative;
  min-width: 300px;
}

.myth-image {
  position: relative; 
  top: 3rem;
  left: 10rem;
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px; 
}

.myth-item {
  display: flex;
  flex-direction: column;
}

.myth-item-title {
  color: #fff;
  font-family: "Figtree";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 1.2rem;
}

.myth-item-description {
  color: #fff;
  font-family: "Figtree";
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 3rem;
}

.italic {
  font-style: italic;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .title {
      font-size: 2.5rem;
  }

  .description {
      font-size: 1rem;
  }

  .button {
      font-size: 1.2rem;
  }

  .header-item {
      font-size: 1rem;
  }

  .importance-wrapper {
      padding: 32px 16px;
  }

  .importance-item {
      flex-direction: column;
  }

  .importance-item-title {
      font-size: 18px;
  }

  .importance-item-description {
      font-size: 16px;
  }

  .importance-main-title {
      font-size: 24px;
  }

  .social-media {
      width: 24px;
      height: 24px;
  }

  .purpose-header {
    padding-left: 16px;
    padding-right: 16px;
}
.purpose-container {
    padding: 32px 32px;
}
.purpose-main-title {
    font-size: 48px;
    line-height: 54px;
}
.myth-container {
  padding: 32px 16px;
}

.myth-content {
  flex-direction: column;
  align-items: center;
}

.myth-right {
  order: -1;
  text-align: center;
}

.myth-main-title {
  font-size: 2.5rem;
  line-height: 3rem;
}

.myth-image {
  width: 100%;
  left: 0;
  top: 0;
}

.myth-item-title {
  font-size: 18px;
}

.myth-item-description {
  font-size: 16px;
}
}

@media (max-width: 480px) {
  .title {
      font-size: 2rem;
  }

  .description {
      font-size: 0.9rem;
  }

  .button {
      font-size: 1rem;
  }

  .header-item {
      font-size: 0.9rem;
  }

  .importance-title {
      font-size: 18px;
  }

  .importance-main-title {
      font-size: 20px;
  }

  .importance-item-title {
      font-size: 16px;
  }

  .importance-item-description {
      font-size: 14px;
  }

  .social-icon {
      width: 20px;
      height: 20px;
  }
  .purpose-main-title {
    font-size: 36px;
    line-height: 42px;
}
}

.safe-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #5812C5;
  position: relative;
}

/* Safe Content Styles */
.safe-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.5rem;
  padding-left: 15rem;
  gap: 40px;
}

.safe-text-container {
  font-family: "Figtree";
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  gap: 24px;
}

.safe-title {
    font-family: "Figtree";
  color: white;
  font-size: 62px;
  font-weight: 500;
  line-height: 68px;
  word-wrap: break-word;
}

.safe-description {
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
  line-height: 26px;
  word-wrap: break-word;
}

/* Button Styles */
.safe-button {
  padding: 16px 24px;
  background: #C0AEFF;
  border-radius: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, transform 0.3s;
  gap: 10px;
}

.safe-button:hover {
  transform: scale(1.1);
}

.safe-button-text {
  color: #1D1F1E;
  font-family: "Figtree";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

/* Image Styles */
.safe-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 452px; /* Limit maximum height */
}

/* Media Queries for Responsiveness */
@media (max-width: 1140px) {
  .safe-image {
      max-width: 940px; /* Limit maximum width */
  }
}

@media (max-width: 1040px) {
  .safe-image {
      max-width: 800px; /* Limit maximum width */
  }
}

@media (max-width: 940px) {
  .safe-image {
      max-width: 700px; /* Limit maximum width */
  }
}

@media (max-width: 820px) {
  .safe-image {
      max-width: 600px; /* Limit maximum width */
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 744px) {
  .safe-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .safe-content {
      width: 100%;
      align-items: center;
  }

  .safe-title {
      font-size: 48px;
      text-align: center;
  }

  .safe-description {
      text-align: center;
      width: 100%;
  }

  .safe-button {
      width: 100%;
      justify-content: center;
  }

  .safe-image {
    max-width: 100%; /* Revert to full width for smaller screens */
}
}

@media (max-width: 430px) {
  .safe-title {
      font-size: 36px;
  }

  .safe-description {
      font-size: 16px;
      width: 90%;
  }

  .safe-button {
      padding: 12px 20px;
  }
}

.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px;
  padding-left: 15rem;
  padding-right: 5rem;
  max-width: 1920px;
  margin: auto;
  background-color: #5812C5;
}

.signup-content {
  flex: 1;
  margin-right: 40px;
  max-width: 40rem;
}

.signup-title {
  font-family: "Figtree";
  color: white;
  font-size: 62px;
  font-weight: 500;
  line-height: 68px;
  padding-bottom: 1rem;
  word-wrap: break-word;
}

.signup-description {
  font-family: "Figtree";
  color: rgba(255, 255, 255, 0.80);
  font-size: 1.2rem;
  line-height: 26px;
  word-wrap: break-word;
}

.signup-form {
  font-family: "Figtree";
  flex: 1;
  border-radius: 8px;
  color: #0a3263;
  max-width: 40rem;
}

.signup-label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}

.signup-input {
  font-family: "Figtree";
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #ffffff;
}

.signup-terms {
  font-size: 0.9rem;
  margin-bottom: 20px;
  color: white;
}

.signup-button {
  font-family: "Figtree";
  font-weight: 500;
  width: 100%;
  padding: 12px;
  background-color: #C0AEFF;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #A180FF;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .signup-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .signup-content {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .signup-title {
    font-size: 2rem;
  }

  .signup-description {
    font-size: 1rem;
  }

  .signup-form {
    width: 100%;
    padding: 0;
  }
}

.team-section {
  font-family: "Figtree";
  color: white;
  background-color:#5812C5;
  padding: 50px 20px;
}

.team-section h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.team-section .team-description {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  max-width: 700px;
  line-height: 1.3;
  margin: 0 auto 3rem;
}

.team-cards {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 6rem;
  padding-bottom: 5rem;
  margin-bottom: -10rem;
  z-index: 99999;
  flex-wrap: wrap;
}

.team-card {
  width: 343px;
  height: 521px;
  box-shadow: 0px 10px 15px rgba(192, 191, 191, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease; /* Ensure the transition property is set here */
}

.team-card:hover {
  transform: scale(1.1); /* This scales the card on hover */
}

.team-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.waveyfooter {
  position: relative; 
  z-index: 1; 
  top: 4rem;
  left: -2rem;
  width: 110%; 
  margin-top: -2rem; 
}

.waveyfooter svg {
  width: 100%; 
  height: auto; 
  display: block; 
}

.realfooter {
  padding: 20px;
  background-color: #C0AEFF;
  font-family: "Figtree";
  color: #3d3d3d;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.company-name {
  margin: 10px 0 5px 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 24px;
}

.footdescription {
  max-width: 40rem;
  margin: 0 0 20px 0;
  font-size: 16px;
}

.footdivider {
  border: 1px solid #3d3d3d;
  max-width: 70rem;
  justify-content: center;
  margin: 20px auto;
}

.footer-bottom {
  font-size: 14px;
}